<div class="fixed-action-btn">
  {{#link-to 'menu.add-author'}}<a class="btn-floating btn-large red">
    <i class="large material-icons">+</i>
  </a>{{/link-to}}
</div>


<div class="item-container-g">
	{{#each model as |author|}}
		<div class="item-container">
			<ul class="collection">
			    <li class="collection-item avatar">
			    	<p>Nickname: {{author.nickname}}</p>
			    	<span class="title">First name: {{author.firstName}}</span><br>
			    	<span class="title">Last name: {{author.lastName}}</span><br>
			    	<span class="title">Age: {{author.age}}</span>
{{!-- 			    	<a href="#!" class="secondary-content">
			    		<i class="material-icons">
			    			{{#link-to 'menu.author-data' author.id}}<img id="img-set-album" src='https://image.flaticon.com/icons/svg/149/149294.svg' alt="" class="circle">
			    			{{/link-to}}
			    		</i>
			    	</a> --}}
			    </li>
			</ul>
			{{delete-button
				author=author
				onDeleteAuthor=(action 'onDeleteAuthor')
			}}		
		</div>
	{{/each}}
</div>
