<div class="fixed-action-btn">
  {{#link-to 'menu.add-author'}}<a class="btn-floating btn-large red">
    <i class="large material-icons">+</i>
  </a>{{/link-to}}
  {{!-- <ul>
    <li><a class="btn-floating red"><i class="material-icons">Add</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul> --}}
</div>

<div class="item-container-g">
	{{#each model as |author|}}
		<label>First name: {{author.firstName}}</label><br>
		<label>Last name: {{author.lastName}}</label><br>
		<label>Nickname: {{author.nickname}}</label><br>
		<label>Age: {{author.age}}</label><br>
		{{#link-to 'menu.author-data' author.id}}Edit{{/link-to}}<br><br>
		{{delete-button
			author=author
			onDeleteAuthor=(action 'onDeleteAuthor')
		}}
	{{/each}}
</div>


