<form {{action 'addAlbum' on='submit'}}>
		<p>Image: {{input type='text' value=imgUrl}}</p> 		
		<p>Title: {{input type='text' value=title}}</p> 
		<p>Author:{{input type='text' value=author}}</p> 
		<p>Price: {{input type='number' value=price}}</p> 
		<p><button disabled={{if model.isSaving 'true' ''}}>Add</button></p>
</form>


<div class="item-container-g">
	{{#each model as |musicBook|}}
		<h2>Title: {{musicBook.title}}</h2>
		<img class='image-container'src={{musicBook.imgUrl}}>
		<label>Author: {{musicBook.author.fullName}}</label>
		<label>Price: {{musicBook.price}}</label>
		<button>{{#link-to 'menu.album' musicBook.id}}Edit{{/link-to}}</button><br><br> 
	{{/each}}
</div>