{{#link-to 'shopping-cart'}}Cart{{/link-to}}<br><br>
{{#link-to 'library'}}Beginning{{/link-to}}<br><br>
<form {{action 'updateAlbum' model on='submit'}}>
	<p>Image: {{input type='text' value=model.imgUrl}}</p> 		
	<p>Title: {{input type='text' value=model.title}}</p> 
	<p>Author:{{input type='text' value=model.author.fullName}}</p> 
	<p>Price: {{input type='number' value=model.price}}</p> 
	<button disabled={{if model.isSaving 'true' ''}}>Update</button> 
	<button disabled={{if model.isSaving 'true' ''}} {{action 'deleteAlbum' model on='click'}}>Delete</button>
	<button disabled={{if model.isSaving 'true' ''}} {{action 'addToCart' model on='click'}}>Add to cart</button><br><br>

	<select>
		<optgroup label='Select an author'>
			{{#each model as |author|}}
				<option>{{author.firstName}}</option>
			{{/each}}
		</optgroup>
	</select>
</form>
