<div id="menu-wrapper">
	<div id="menu" class="container">
		<ul>
			<li>{{#link-to 'library'}}Homepage{{/link-to}}</li>
			<li>{{#link-to 'author'}}Authors{{/link-to}}</li>
			<li>{{#link-to 'shopping-cart'}}Cart{{/link-to}}</li>
		</ul>
	</div>
</div>

<form {{action 'addAuthor' on='submit'}}>
		<p>First name: {{input type='text' value=firstName}}</p> 		
		<p>Last name: {{input type='text' value=lastName}}</p> 
		<p>Nickname: {{input type='text' value=nickname}}</p> 
		<p>Age: {{input type='text' value=age}}</p> 
		<p><button disabled={{if model.isSaving 'true' ''}}>Add</button></p>
</form>

<div class="item-container-g">
	{{#each model as |author|}}
		<label>First name: {{author.firstName}}</label><br>
		<label>Last name: {{author.lastName}}</label><br>
		<label>Nickname: {{author.nickname}}</label><br>
		<label>Age: {{author.age}}</label><br>
		{{#link-to 'authorData' author.id}}Edit{{/link-to}}<br><br>
		{{delete-button
			author=author
			onDeleteAuthor=(action 'onDeleteAuthor')
		}}
	{{/each}}
</div>