{{#link-to 'shopping-cart'}}Cart{{/link-to}}<br><br>
{{#link-to 'author'}}Authors{{/link-to}}<br><br>

<form {{action 'addAlbum' on='submit'}}>
		<p>Image: {{input type='text' value=imgUrl}}</p> 		
		<p>Title: {{input type='text' value=title}}</p> 
		<p>Author:{{input type='text' value=author}}</p> 
		<p>Price: {{input type='number' value=price}}</p> 
		<p><button disabled={{if model.isSaving 'true' ''}}>Add</button></p>
</form>
{{#each model as |musicBook|}}
	<img src={{musicBook.imgUrl}}><br>
	<label>Title: {{musicBook.title}}</label><br>
	<label>Author: {{musicBook.author}}</label><br>
	<label>Price: {{musicBook.price}}</label><br>
	{{#link-to 'album' musicBook.id}}Edit{{/link-to}}<br>
	<button disabled={{if model.isSaving 'true' ''}} {{action 'addToCart' model on='click'}}>Add to cart</button><br><br>
{{/each}}
